In [ ]:
# import necessary python libraries

In [511]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [512]:
# show all rows in pandas commands
pd.set_option("display.max_rows", None)

In [513]:
# load dataset

In [514]:
df = pd.read_csv('loan.csv')

In [515]:
# data understanding

In [516]:
df.shape

(39717, 111)

In [517]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [518]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [ ]:
# proble statement: Analyse to understand the driving factors (or driver variables) behind loan default, i.e. the variables which are strong indicators of default.

In [ ]:
# Data Undertanding

In [519]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [533]:
df.isnull().mean()

id                                0.000000
member_id                         0.000000
loan_amnt                         0.000000
funded_amnt                       0.000000
funded_amnt_inv                   0.000000
term                              0.000000
int_rate                          0.000000
installment                       0.000000
grade                             0.000000
sub_grade                         0.000000
emp_title                         0.061913
emp_length                        0.027066
home_ownership                    0.000000
annual_inc                        0.000000
verification_status               0.000000
issue_d                           0.000000
loan_status                       0.000000
pymnt_plan                        0.000000
url                               0.000000
desc                              0.325855
purpose                           0.000000
title                             0.000277
zip_code                          0.000000
addr_state                        0.000000
dti                               0.000000
delinq_2yrs                       0.000000
earliest_cr_line                  0.000000
inq_last_6mths                    0.000000
mths_since_last_delinq            0.646625
mths_since_last_record            0.929854
open_acc                          0.000000
pub_rec                           0.000000
revol_bal                         0.000000
revol_util                        0.001259
total_acc                         0.000000
initial_list_status               0.000000
out_prncp                         0.000000
out_prncp_inv                     0.000000
total_pymnt                       0.000000
total_pymnt_inv                   0.000000
total_rec_prncp                   0.000000
total_rec_int                     0.000000
total_rec_late_fee                0.000000
recoveries                        0.000000
collection_recovery_fee           0.000000
last_pymnt_d                      0.001788
last_pymnt_amnt                   0.000000
next_pymnt_d                      0.971297
last_credit_pull_d                0.000050
collections_12_mths_ex_med        0.001410
mths_since_last_major_derog       1.000000
policy_code                       0.000000
application_type                  0.000000
annual_inc_joint                  1.000000
dti_joint                         1.000000
verification_status_joint         1.000000
acc_now_delinq                    0.000000
tot_coll_amt                      1.000000
tot_cur_bal                       1.000000
open_acc_6m                       1.000000
open_il_6m                        1.000000
open_il_12m                       1.000000
open_il_24m                       1.000000
mths_since_rcnt_il                1.000000
total_bal_il                      1.000000
il_util                           1.000000
open_rv_12m                       1.000000
open_rv_24m                       1.000000
max_bal_bc                        1.000000
all_util                          1.000000
total_rev_hi_lim                  1.000000
inq_fi                            1.000000
total_cu_tl                       1.000000
inq_last_12m                      1.000000
acc_open_past_24mths              1.000000
avg_cur_bal                       1.000000
bc_open_to_buy                    1.000000
bc_util                           1.000000
chargeoff_within_12_mths          0.001410
delinq_amnt                       0.000000
mo_sin_old_il_acct                1.000000
mo_sin_old_rev_tl_op              1.000000
mo_sin_rcnt_rev_tl_op             1.000000
mo_sin_rcnt_tl                    1.000000
mort_acc                          1.000000
mths_since_recent_bc              1.000000
mths_since_recent_bc_dlq          1.000000
mths_since_recent_inq             1.000000
mths_since_recent_revol_delinq    1.000000
num_accts_ever_120_pd             1.000000
num_actv_bc_tl                    1.000000
num_actv_rev_tl                   1.000000
num_bc_sats                       1.000000
num_bc_tl                         1.000000
num_il_tl                         1.000000
num_op_rev_tl                     1.000000
num_rev_accts                     1.000000
num_rev_tl_bal_gt_0               1.000000
num_sats                          1.000000
num_tl_120dpd_2m                  1.000000
num_tl_30dpd                      1.000000
num_tl_90g_dpd_24m                1.000000
num_tl_op_past_12m                1.000000
pct_tl_nvr_dlq                    1.000000
percent_bc_gt_75                  1.000000
pub_rec_bankruptcies              0.017549
tax_liens                         0.000982
tot_hi_cred_lim                   1.000000
total_bal_ex_mort                 1.000000
total_bc_limit                    1.000000
total_il_high_credit_limit        1.000000
dtype: float64

In [534]:
df.isnull().sum()

id                                    0
member_id                             0
loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
installment                           0
grade                                 0
sub_grade                             0
emp_title                          2459
emp_length                         1075
home_ownership                        0
annual_inc                            0
verification_status                   0
issue_d                               0
loan_status                           0
pymnt_plan                            0
url                                   0
desc                              12942
purpose                               0
title                                11
zip_code                              0
addr_state                            0
dti                                   0
delinq_2yrs                           0
earliest_cr_line                      0
inq_last_6mths                        0
mths_since_last_delinq            25682
mths_since_last_record            36931
open_acc                              0
pub_rec                               0
revol_bal                             0
revol_util                           50
total_acc                             0
initial_list_status                   0
out_prncp                             0
out_prncp_inv                         0
total_pymnt                           0
total_pymnt_inv                       0
total_rec_prncp                       0
total_rec_int                         0
total_rec_late_fee                    0
recoveries                            0
collection_recovery_fee               0
last_pymnt_d                         71
last_pymnt_amnt                       0
next_pymnt_d                      38577
last_credit_pull_d                    2
collections_12_mths_ex_med           56
mths_since_last_major_derog       39717
policy_code                           0
application_type                      0
annual_inc_joint                  39717
dti_joint                         39717
verification_status_joint         39717
acc_now_delinq                        0
tot_coll_amt                      39717
tot_cur_bal                       39717
open_acc_6m                       39717
open_il_6m                        39717
open_il_12m                       39717
open_il_24m                       39717
mths_since_rcnt_il                39717
total_bal_il                      39717
il_util                           39717
open_rv_12m                       39717
open_rv_24m                       39717
max_bal_bc                        39717
all_util                          39717
total_rev_hi_lim                  39717
inq_fi                            39717
total_cu_tl                       39717
inq_last_12m                      39717
acc_open_past_24mths              39717
avg_cur_bal                       39717
bc_open_to_buy                    39717
bc_util                           39717
chargeoff_within_12_mths             56
delinq_amnt                           0
mo_sin_old_il_acct                39717
mo_sin_old_rev_tl_op              39717
mo_sin_rcnt_rev_tl_op             39717
mo_sin_rcnt_tl                    39717
mort_acc                          39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
num_bc_sats                       39717
num_bc_tl                         39717
num_il_tl                         39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
num_tl_op_past_12m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
pub_rec_bankruptcies                697
tax_liens                            39
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
total_bc_limit                    39717
total_il_high_credit_limit        39717
dtype: int64

In [36]:
# data cleaning

In [ ]:
# missing values column 
#Strategy
# (a) Columns having high percentage of missing values (>40% or 50%), directly discard that column from the analysis
# (b) Columns having missing values under acceptable range we prefer to impute them(replace with some values)
# (c) For numarical columns we prefer to use mean or median (Median is preferred)
# (d) Median is not affected with the outliers
# (e) for categorical column we refer to use mode
# (f) if we have very less missing values in any column in that case you can drop rows as well
# (g) for a target variable - if there are missing values, drop the row

In [ ]:
# removing columns which has all values as null

In [526]:
df_clean = df.drop(['tot_hi_cred_lim','total_bal_ex_mort','total_bc_limit','total_il_high_credit_limit', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mo_sin_old_il_acct', 'bc_util', 'bc_open_to_buy', 'avg_cur_bal', 'acc_open_past_24mths', 'inq_last_12m', 'total_cu_tl', 'inq_fi', 'total_rev_hi_lim', 'all_util', 'max_bal_bc', 'open_rv_24m', 'open_rv_12m', 'il_util', 'total_bal_il', 'mths_since_rcnt_il', 'open_il_24m', 'open_il_12m', 'open_il_6m', 'open_acc_6m', 'tot_cur_bal', 'tot_coll_amt','mths_since_last_major_derog','annual_inc_joint','dti_joint','verification_status_joint'], axis=1)

In [527]:
df_clean.shape

(39717, 57)

In [528]:
df_clean.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12942
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
mths_since_last_record        36931
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

In [529]:
df_clean.isnull().mean()

id                            0.000000
member_id                     0.000000
loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
installment                   0.000000
grade                         0.000000
sub_grade                     0.000000
emp_title                     0.061913
emp_length                    0.027066
home_ownership                0.000000
annual_inc                    0.000000
verification_status           0.000000
issue_d                       0.000000
loan_status                   0.000000
pymnt_plan                    0.000000
url                           0.000000
desc                          0.325855
purpose                       0.000000
title                         0.000277
zip_code                      0.000000
addr_state                    0.000000
dti                           0.000000
delinq_2yrs                   0.000000
earliest_cr_line              0.000000
inq_last_6mths                0.000000
mths_since_last_delinq        0.646625
mths_since_last_record        0.929854
open_acc                      0.000000
pub_rec                       0.000000
revol_bal                     0.000000
revol_util                    0.001259
total_acc                     0.000000
initial_list_status           0.000000
out_prncp                     0.000000
out_prncp_inv                 0.000000
total_pymnt                   0.000000
total_pymnt_inv               0.000000
total_rec_prncp               0.000000
total_rec_int                 0.000000
total_rec_late_fee            0.000000
recoveries                    0.000000
collection_recovery_fee       0.000000
last_pymnt_d                  0.001788
last_pymnt_amnt               0.000000
next_pymnt_d                  0.971297
last_credit_pull_d            0.000050
collections_12_mths_ex_med    0.001410
policy_code                   0.000000
application_type              0.000000
acc_now_delinq                0.000000
chargeoff_within_12_mths      0.001410
delinq_amnt                   0.000000
pub_rec_bankruptcies          0.017549
tax_liens                     0.000982
dtype: float64

In [530]:
df_clean.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [ ]:
# Categorical columns
cats_cols=["term","int_rate","grade","sub_grade","","emp_length","home_ownership", "verification_status","loan_status","purpose","title","zip_code","addr_state","delinq_2yrs","inq_last_6mths", "mths_since_last_delinq", "pub_rec","pub_rec_bankruptcies"]
# Numerical columns
num_cols=["loan_amnt","funded_amnt", "funded_amnt_inv", "annual_inc","dti","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","recoveries"]
# Not relevant to the analysis
extra_cols=["id","member_id","installment","emp_title", "issue_d","pymnt_plan", "desc","earliest_cr_line","mths_since_last_record","total_rec_late_fee","collection_recovery_fee","last_pymnt_d","collections_12_mths_ex_med"]

# dont know
"open_acc","revol_bal","revol_util","total_acc","last_credit_pull_d",""

In [264]:
df_clean["emp_title"].isnull().mean()

0.06191303472064859

In [ ]:
# Remove Rows
# Remove rows where emp_title is null ??? or instead of removing rows we add some values to that field, anyways this  column is not important for analysis == to be finalized
# command
# df_clean = df_clean[~(df_clean['emp_title'].isnull())]

# same for emp_length
# df_clean = df_clean[~(df_clean['emp_length'].isnull())]

In [ ]:
# Remove Columns
# pymnt_plan = all the values in this column is 'n' - so column is not needed hence removed
# initial_list_status = all the values in this column is 'f' - so column is not needed hence removed
# collections_12_mths_ex_med - single value, hence removed
# policy_code - single value, hence removed
# application_type - single value, hence removed
# verification_status_joint - single value, hence removed
# chargeoff_within_12_mths - single value, hence removed
# delinq_amnt - single value, hence removed
# tax_liens - single value, hence removed

In [ ]:
# Update values in rows
# mths_since_last_delinq - do we add median value for this column?

In [532]:
df_clean = df_clean.drop(['pymnt_plan','initial_list_status','collections_12_mths_ex_med','policy_code','application_type','acc_now_delinq','delinq_amnt','tax_liens'], axis=1)

In [ ]:
# below code to identify which columns are needed and which ones can be dropped

In [535]:
df_clean["grade"].dtype

dtype('O')

In [536]:
df_clean["grade"].isnull().sum()

0

In [537]:
df_clean["grade"].isnull().mean()

0.0

In [538]:
df_clean["grade"].value_counts()

grade
B    12020
A    10085
C     8098
D     5307
E     2842
F     1049
G      316
Name: count, dtype: int64

In [ ]:
#Check the datatypes of all the columns

In [233]:
df_clean.dtypes

id                               int64
member_id                        int64
loan_amnt                        int64
funded_amnt                      int64
funded_amnt_inv                float64
term                            object
int_rate                        object
installment                    float64
grade                           object
sub_grade                       object
emp_title                       object
emp_length                      object
home_ownership                  object
annual_inc                     float64
verification_status             object
issue_d                         object
loan_status                     object
pymnt_plan                      object
url                             object
desc                            object
purpose                         object
title                           object
zip_code                        object
addr_state                      object
dti                            float64
delinq_2yrs                      int64
earliest_cr_line                object
inq_last_6mths                   int64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_acc                         int64
pub_rec                          int64
revol_bal                        int64
revol_util                      object
total_acc                        int64
initial_list_status             object
out_prncp                      float64
out_prncp_inv                  float64
total_pymnt                    float64
total_pymnt_inv                float64
total_rec_prncp                float64
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
last_pymnt_d                    object
last_pymnt_amnt                float64
next_pymnt_d                    object
last_credit_pull_d              object
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
policy_code                      int64
application_type                object
annual_inc_joint               float64
dti_joint                      float64
verification_status_joint      float64
acc_now_delinq                   int64
chargeoff_within_12_mths       float64
delinq_amnt                      int64
pub_rec_bankruptcies           float64
tax_liens                      float64
dtype: object

In [ ]:
#  analysis approach: